<div class="content" role="main">
  <h1><strong>Indicadores económicos</strong></h1>
  <button mat-raised-button color="primary" (click)="openDialog('add')">Agregar indicador</button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> Index </th>
      <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">{{element?.serie[0]?.fecha | date:'dd-MM-YYYY'}}</td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let element">{{element?.serie[0]?.valor}}</td>
    </ng-container>

    <ng-container matColumnDef="unidad_medida">
      <th mat-header-cell *matHeaderCellDef>Unidad de medida</th>
      <td mat-cell *matCellDef="let element">{{element?.unidad_medida}}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row; let element; let i = index;">
        <button mat-icon-button (click)="openDialog('edit', element)" matTooltip="Modificar fecha del indicador">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="confirmDeletion(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay indicadores cargados</td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>